%html
  %head
    %title Problems
  %body
    %h1 Problems
    - @problems.each do |prob|
      %img{:src => prob.pic.url}
      %h2= "#{prob.title}"
      = "#{prob.desc}"
      = "#{prob.lat}, #{prob.long}"
      = "#{prob.user}"
      %br
