%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title Problems
      %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %center
      %h1 Problems
      %br
      - @problems.each do |prob|
        %img{:src => prob.pic.url}
        %h2= "#{prob.title}"
        = "#{prob.desc}"
        %br
        = "At #{prob.lat}, #{prob.long}"
        %br
        = "Submitted by #{prob.user}"
        %br
        %br
