!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title LC Trails - Admin
      %link{:href => "../css/reset.css", :media => "screen", :rel => "stylesheet"}/
      %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
      /[if lt IE 9]
        %script{:src => "../js/html5.js"}
        %script{:src => "../js/PIE.js"}
      %script{:src => "../js/jquery.tools.min.js"}
      %script{:src => "http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"}
      %script{:src => "../js/jquery.ui.min.js"}
      /[if lte IE 9]
        %link{:href => "../css/ie.css", :media => "screen", :rel => "stylesheet"}/
        %script{:src => "../js/ie.js"}
      %script{:src => "../js/global.js"}
      :javascript
        $(document).ready(function() {
          $('.slideshow').cycle({
            fx: 'scrollDown', 
            speed: 1000 , 
            next: '.slideshow', 
            timeout: 4000 
          });
        });
  %body 
    #bg
      .wrapper
        #header
          %h1
            %img{:alt => "LC Trails", :src => "../images/icon.png"}/
            %a{:href => "/"} LC Trails
          %ul#nav
            %li
              %a{:href => "#"} Dashboard
            %li
              %a{:href => "/trails"} Trails
              %ul
                %li
                  %a{:href => "/trails"} List trails
                %li
                  %a{:href => "/trails/add"} Add trail
            %li
              %a{:href => "#"} Points
              %ul
                %li
                  %a{:href => "/point/add"} Add point
            %li
              %a{:href => "/problems"} Problems
            %li
              %a{:href => "/users"} Users
          %p.user
            %a.logout{:href => "/"} Logout
        / #header ends
        .main-section
          .block.small.left
            .block_head
              %h2 #{@trail.name.capitalize} 
            .block_content
              %ul#listing.list-view.clearfix
                - @trail.points.each do |point| #- point.photos.each do |photo|
                  - if point.category.name != "Trail"
                    %li.clearfix
                      %a.button.button-gray.delete{:href => "/point/delete/#{point.id}"} 
                        %span.bin
                        Delete
                      %a.button.button-gray{:href => "#"} 
                        %span.pencil
                        Edit
                      %a.more{:href => "#point_#{point.id}"} >
                      %a.name{:href => "#"} #{point.title}
          .preview-pane.small.right.omega
            .content
              .message.info
                %h3 Helpful Tips
                %p Click on the trail points located on the left to get more information about them, including pictures and coordinates. 
            .preview
              .desc{:style => "display: block !important"}
                %span.close
                  %img{:src => "../images/cancel-white.png"}
              - @trail.points.each do |point|
                .desc{:id => "point_#{point.id}"}
                  %h1 #{point.title}
                  %span #{point.lat}, #{point.long}
                  %p #{point.desc}
                  .slideshow
                    - point.photos.each do |photo|
                      %img{:src => photo.pic.url}
        #footer
          %p.right
            powered by
            %a{:href => "#"} Mobile Trail Mapping
