%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title= "#{@trail.name.capitalize} Points"
      %link{:href => "../css/style.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1= "Points for #{@trail.name.capitalize}"
    %br
    - @trail.points.each do |point|
      - point.photos.each do |photo|
        %img{:src => photo.pic.url}
      %br
      = "Title: #{point.title}"
      %br
      = "Description: #{point.desc}"
      %br
      = "Category: #{point.category.name}"
      %br
      = "Condition: #{point.condition.desc}"
      %br
      = "Located at #{point.lat}, #{point.long}"
      %br
      %br
