%html
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}
      %title Problems
      %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %h1= "#{@trail.name.capitalize}"
    %br
    - @trail.points.each do |point|
      = "#{point.title}"
      %br
      = "#{point.desc}"
      %br
      = "#{point.category.name}"
      %br
      = "#{point.condition.desc}"
      %br
      = "Located at #{point.lat}, #{point.long}"
      %br
      %br
