%html
%head
	%meta{:charset => "utf-8"}
	%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
	%title Mobile Trail Mapping - Builds
	%meta{:content => "", :name => "description"}
	%meta{:content => "", :name => "author"}
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
	%link{:href => "css/reset.css?v=1", :rel => "stylesheet"}
	%link{:href => "css/style.css?v=1", :rel => "stylesheet"}
	%link{:href => "css/buttons.css?v=1", :rel => "stylesheet"}
	%script{:src => "js/libs/modernizr-1.6.min.js"}
	/[if IE]
		%link{:href => "css/ie.css?v=1", :rel => "stylesheet"}
%body
	#container
		%h3 Mobile Trail Mapping
		.meta
			%img{:src => "images/icon.png"}
			Read more about the development on our
			= succeed "." do
				%a{:href => "http://brousalis.com/mtm/"} blog
			Also, check out our
			%a{:href => "http://github.com/Mobile-Trail-Mapping/"} source code
			and
			= succeed "." do
				%a{:href => "http://github.com/Mobile-Trail-Mapping/Architecture/wiki"} documentation
		.clearfix

		#android.download-box
			.box-content
				#stable.tab-content
					%h4 Android
					%h5 
						For
						%em ECLAIR 2.1
						and above
					%p
						Latest stable release:
						- if @stable.ext == ".apk"
							%strong #{@stable.date}
							%br
							Version:
							%strong #{@stable.version}
							.clearfix
							%a.button.green.r10.CtaThk{:href => "#"}
								%span.button-text
									%span.text-big Download for Android
									%br
									%span.text-small
										version number
										%strong #{@stable.version}
								%span.round
									%span.arrow-tail
										%span.arrow-head
				#nightly.tab-content
					%ul
						- @android.keys.sort.each do |key|
							%li
								%a.head{:href => "#"} #{key}
								%ul
									- @android[key].each do |build|
										%li= build.branch
				.clearfix
				.nightly-toggle
					%span 
						latest 12/16/12
					%a{:href => "#nightly"} Nightly builds
				.stable-toggle
					%a{:href => "#stable"} Stable build
						
	%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"}
	%script{:src => "js/libs/third.js"}
	%script{:src => "js/plugins.js"}
	%script{:src => "js/libs/dd_belatedpng.js"}
	:javascript
		DD_belatedPNG.fix('img, .png_bg');